body {
    background-color: #232323 !important;
    color: white !important;
    font-family: 'Source Sans 3', sans-serif !important;
}

.navbar {
    background-color: rgb(24, 24, 24) !important;
    padding: 15px !important;
    height: 90px !important;
    font-size: 20px !important;
  }
  
  .navbar-brand {
    font-size: 30px !important;
  }