<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keep Yourself Safe</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <main>
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="#">Plants and Crops Toolkit</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Your Plants<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="croprecommendations.html">Crop Recommendations</a>
              </li>
            </ul>
            <ul class="navbar-nav">
              <form class="nav-search form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
              <li class="nav-item active">
                <a class="nav-link" href="#">Login<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Signup</a>
              </li>
            </ul>
          </div>
        </nav>
        <div id="grid" class="grid-container"></div>
        <input type="file" id="image_to_upload"/>
        <input type="text" id="name"/>
        <button onclick="addCrop()">Add Crop</button>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript">
        function addCrop() {
          jQuery.noConflict();
          formdata = new FormData();
          const file = document.getElementById("image_to_upload")
          console.log(file.files)
          if (formdata) {
            formdata.append("image", file.files[0]);
            jQuery.ajax({
              url: "/imagenet",
              type: "POST",
              data: formdata,
              processData: false,
              contentType: false,
              success:function(ai){
                console.log(ai)
              }
            });
          }

          const existingDiv = document.getElementById("grid");

          const newCard = document.createElement("div");
          existingDiv.appendChild(newCard);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>